<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Técnica Básica</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
   <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&family=Roboto+Mono&display=swap" rel="stylesheet"> 
<script
    type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=605ab8cbe898f60018871447&product=inline-share-buttons"
    async="async"
  ></script>
</head>
<!-- Add font awesome icons -->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p ><a href="/" class="navbar-brand">Técnica Básica</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ACERCA DE</a></li>
          <li id="contact"><a href="/contact">CONTACTO</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=1414958652198067&autoLogAppEvents=1" nonce="ZSRlkcmq"></script>
    <div class="container">
