
    <div class="col-sm-4 rightside">
      <h1>Tecnica Basica</h1>
      <h4>Un blog basico</h4>
      <p>Tecnica Basica es un blog que lleva el registro de proyectos, ideas y pensamientos de <a href="/about"> Eligio Becerra.</a> </p>
      <p>Actualizado regularmente</p>
      
    </div>
