<%- include("partials/header") %>
<h1><%= post.title %></h1>
<p><%- post.content %></p>
<div class="social-bar">
  <div class="sharethis-inline-share-buttons"></div>
</div>
<%- include("partials/footer") %>
