a {
  text-decoration: none;
}

h1 {
  color: #626035;
}

h2 {
  color: #626035;
}

body {
  margin: 0 0 100px;
}

.fas-title {
  color: #c8c6a7;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.container-lg {
  height: 100%;
}

/***************** navbar ****************/

.bg-dark {
  background-color: #435560 !important;
}

.navbar-dark .navbar-brand {
  color: #c06014;
  font-weight: 700;
}
/****************** end navbar *************/

/*********** navbar fabs ***************/
.fab {
  font-size: 1.5rem;
  color: #f3f4ed;
}

.fab:hover {
  color: #c06014;
}

/*********** end navbar fabs ************/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/******************* footer section **********/

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  text-align: center;
  height: 60px;
  background-color: #435560;
  line-height: 60px;
  align-self: flex-end;
  font-size: 12px;
  color: #fff;
  width: 100%;
}

/*************** end footer ***************/

/************** smaller screens *************/

@media (max-width: 1199px) {
  .rightside {
    display: none;
  }
}

/* .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #203062;
}

.navbar-nav li a {
  color: #fbfbfb !important;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.sidebar {
  display: block;
  position: fixed;
  margin-left: 1rem;
  height: 100%;
  width: 20%;
}

.navbar-brand{
  color: white;
  font-size: 2.5rem;
  font-family: "Exo 2", sans-serif;
} */

/* Style all font awesome icons */
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
} */

/* Add a hover effect if you want */
/* .fa:hover {
  opacity: 0.7;
} */

/* Social buttons */

/* .social-bar {
  padding: 15px;
  margin: 2rem auto;
  width: 90%;
  text-align: center;
} */

/* Facebook */
/*
.fa:hover {
  opacity: 0.7;
}



.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

 */
